<h1>New Transaction</h1>

<%= react_component 'Transaction', transaction: @transaction, editable: true,
                                   csrf_token: form_authenticity_token %>

<%= link_to 'Back', transactions_path %>
