<p id="notice"><%= notice %></p>

<%= react_component 'Transaction', transaction: @transaction, editable: false %>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
